In [178]:
# This is to import Numpy library
import numpy as np
# This is to import the pandas library
import pandas as pd

In [179]:
# Import writer class from csv module
from csv import writer
  
# List 
id_user = 1174
year = input("Enter Year in Number:")
violent = input("Enter Violent rate:")
murder = input("Enter murder rate:")
robbery = input("Enter number of robberies:")
prisoners = input("Enter number of prisoners:")
afam = input("Enter number of afam:")
cauc = input("Enter number of cauc:")
male_rate = input("Enter number of male_rate:")
population = input("Enter number of population:")
income = input("Enter number of income:")
density = input("Enter number of density:")
State = input("Enter name of State:")
law = 'yes'
myList = [id_user,year,violent,murder,robbery,prisoners,afam,cauc,male_rate,population,income,density,State,law]


with open('Guns.csv', 'a') as f_object:
  
    # Pass this file object to csv.writer()
    # and get a writer object
    writer_object = writer(f_object)
  
    # Pass the list as an argument into
    # the writerow()
    writer_object.writerow(myList)
  
    #Close the file object
    f_object.close()

In [180]:
# This is to load the dataset that we will be performing data cleaning and classification on.
df = pd.read_csv("Guns.csv",na_values=np.nan)

In [181]:
df

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552,Alabama,no
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567,Alabama,no
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245,Alabama,no
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829,Alabama,no
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187,Alabama,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,14032.230,0.004944,wyoming,yes
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,14790.980,0.004943,Wyoming,yes
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,15225.510,0.004944,wyoming,yes
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,15765.070,0.004939,wyoming,yes
1173,1174,1999,112.2,2.2,19.4,125.0,0.729426,75.10503,13.45536,1.253040,14700.040,0.040597,Maine,yes

In [182]:
# this is to check the shape of the data and the data types that each attribute has.
print(df.shape)
print(df.dtypes)

(1174, 14)
id              int64
year            int64
violent       float64
murder        float64
robbery       float64
prisoners     float64
afam          float64
cauc          float64
male          float64
population    float64
income        float64
density       float64
state          object
law            object
dtype: object

In [183]:
# Basically This code below is used to confirm which of the columns are numbers
df_number = df.select_dtypes(include=[np.number])
number_columns = df_number.columns.values
print(number_columns)

['id' 'year' 'violent' 'murder' 'robbery' 'prisoners' 'afam' 'cauc' 'male'
 'population' 'income' 'density']

In [184]:
# This code below is to confirm which of the code below is not number data like text/string
df_not_number = df.select_dtypes(exclude=[np.number])
not_number_columns = df_not_number.columns.values
print(not_number_columns)

['state' 'law']

In [185]:
# This is to find missing values in attributes, like null values.
for col in df.columns:
    missing_values_percentage = np.mean(df[col].isnull())
    print('{} - {} Percentage'.format(col,round(missing_values_percentage*100)))

id - 0 Percentage
year - 0 Percentage
violent - 0 Percentage
murder - 2 Percentage
robbery - 0 Percentage
prisoners - 1 Percentage
afam - 0 Percentage
cauc - 0 Percentage
male - 1 Percentage
population - 2 Percentage
income - 10 Percentage
density - 0 Percentage
state - 0 Percentage
law - 0 Percentage

In [186]:
df.isnull().sum()

id              0
year            0
violent         0
murder         21
robbery         0
prisoners      14
afam            0
cauc            0
male            7
population     26
income        115
density         0
state           0
law             0
dtype: int64

In [187]:
# To fix the problem of missing values, there are 3 ways according to the web: 1) Drop the row, 2) Drop the Column 3) Impute the missing
# We chose to impute the missing values with the mean 

# df_numeric = df.select_dtypes(include=[np.number])
# numeric_cols = df_numeric.columns.values

#for col in numeric_cols:
 #   total_nullValues = df[col].isnull()
 #   num_missing = np.sum(total_nullValues)

  #  if num_missing > 0:  # for columns that have missing values
  #      mean = df[col].mean()
 #       df[col] = df[col].fillna(mean)

#######################################################################
# If we want to put the mean in all the values we can do using f fill also another way
df = df.interpolate()
df = df.fillna(method='ffill')
df

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552,Alabama,no
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567,Alabama,no
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245,Alabama,no
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829,Alabama,no
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187,Alabama,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,14032.230,0.004944,wyoming,yes
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,14790.980,0.004943,Wyoming,yes
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,15225.510,0.004944,wyoming,yes
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,15765.070,0.004939,wyoming,yes
1173,1174,1999,112.2,2.2,19.4,125.0,0.729426,75.10503,13.45536,1.253040,14700.040,0.040597,Maine,yes

In [188]:
for col in df.columns:
    missing_values_percentage = np.mean(df[col].isnull())
    print('{} - {} Percentage'.format(col,round(missing_values_percentage*100)))

id - 0 Percentage
year - 0 Percentage
violent - 0 Percentage
murder - 0 Percentage
robbery - 0 Percentage
prisoners - 0 Percentage
afam - 0 Percentage
cauc - 0 Percentage
male - 0 Percentage
population - 0 Percentage
income - 0 Percentage
density - 0 Percentage
state - 0 Percentage
law - 0 Percentage

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1174 non-null   int64
 1   year        1174 non-null   int64
 2   violent     1174 non-null   float64
 3   murder      1174 non-null   float64
 4   robbery     1174 non-null   float64
 5   prisoners   1174 non-null   float64
 6   afam        1174 non-null   float64
 7   cauc        1174 non-null   float64
 8   male        1174 non-null   float64
 9   population  1174 non-null   float64
 10  income      1174 non-null   float64
 11  density     1174 non-null   float64
 12  state       1174 non-null   object
 13  law         1174 non-null   object
dtypes: float64(10), int64(2), object(2)
memory usage: 128.5+ KB

In [191]:
df.isna()

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1170,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1171,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1172,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1173,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [192]:
# Capitalization 
df['state'].value_counts(dropna=False)

Nevada                  23
District of Columbia    23
Iowa                    23
Washington              23
Florida                 23
                        ..
nebraSka                 1
alabama                  1
west virginia            1
AlaBama                  1
delawaRe                 1
Name: state, Length: 104, dtype: int64

In [193]:
# To Fix the capitalization of the state attribute we use this.
# This function is basically putting the state.lower() column to be equal to the state column in our data set
df['state'] = df['state'].str.lower()  
df['state'].value_counts(dropna=False)

maine                   24
nebraska                23
utah                    23
idaho                   23
georgia                 23
west virginia           23
texas                   23
new mexico              23
iowa                    23
new jersey              23
north dakota            23
pennsylvania            23
wyoming                 23
kansas                  23
oklahoma                23
rhode island            23
indiana                 23
colorado                23
south dakota            23
california              23
district of columbia    23
arkansas                23
oregon                  23
wisconsin               23
kentucky                23
south carolina          23
new hampshire           23
virginia                23
vermont                 23
hawaii                  23
minnesota               23
delaware                23
michigan                23
ohio                    23
north carolina          23
illinois                23
massachusetts           23
tennessee               23
washington              23
louisiana               23
alabama                 23
maryland                23
mississippi             23
florida                 23
montana                 23
missouri                23
nevada                  23
arizona                 23
new york                23
connecticut             23
alaska                  23
Name: state, dtype: int64

In [194]:
# Cleaning Categorial Values we use these steps
df["law"] = df["law"].astype('category')
# this function basically converts the categorical values into 0,1 
df["law"] = df['law'].cat.codes
df.head()

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552,alabama,0
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567,alabama,0
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245,alabama,0
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829,alabama,0
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187,alabama,0

In [195]:
df

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,income,density,state,law
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,9563.148,0.074552,alabama,0
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,9932.000,0.075567,alabama,0
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,9877.028,0.076245,alabama,0
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,9541.428,0.076829,alabama,0
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,9548.351,0.077187,alabama,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,14032.230,0.004944,wyoming,1
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,14790.980,0.004943,wyoming,1
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,15225.510,0.004944,wyoming,1
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,15765.070,0.004939,wyoming,1
1173,1174,1999,112.2,2.2,19.4,125.0,0.729426,75.10503,13.45536,1.253040,14700.040,0.040597,maine,1

In [196]:
print(df.dtypes)

id              int64
year            int64
violent       float64
murder        float64
robbery       float64
prisoners     float64
afam          float64
cauc          float64
male          float64
population    float64
income        float64
density       float64
state          object
law              int8
dtype: object

In [197]:
df = pd.get_dummies(df,columns=['state'], prefix="State_")

In [198]:
df

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,...,State__south dakota,State__tennessee,State__texas,State__utah,State__vermont,State__virginia,State__washington,State__west virginia,State__wisconsin,State__wyoming
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,...,0,0,0,0,0,0,0,0,0,0
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,...,0,0,0,0,0,0,0,0,0,0
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,...,0,0,0,0,0,0,0,0,0,0
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,...,0,0,0,0,0,0,0,0,0,0
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,...,0,0,0,0,0,0,0,0,0,1
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,...,0,0,0,0,0,0,0,0,0,1
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,...,0,0,0,0,0,0,0,0,0,1
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,...,0,0,0,0,0,0,0,0,0,1
1173,1174,1999,112.2,2.2,19.4,125.0,0.729426,75.10503,13.45536,1.253040,...,0,0,0,0,0,0,0,0,0,0

In [199]:
df.to_csv (r'C:\Users\User\Documents\Awais Saleem Files\Semester 6 BULC\Artificial Intelligence Lab\ML Project\CleanedDataSet.csv', index = False, header=True)

In [200]:
dataset = pd.read_csv('CleanedDataSet.csv')

In [201]:
dataset

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,...,State__south dakota,State__tennessee,State__texas,State__utah,State__vermont,State__virginia,State__washington,State__west virginia,State__wisconsin,State__wyoming
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,...,0,0,0,0,0,0,0,0,0,0
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,...,0,0,0,0,0,0,0,0,0,0
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,...,0,0,0,0,0,0,0,0,0,0
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,...,0,0,0,0,0,0,0,0,0,0
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,...,0,0,0,0,0,0,0,0,0,1
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,...,0,0,0,0,0,0,0,0,0,1
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,...,0,0,0,0,0,0,0,0,0,1
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,...,0,0,0,0,0,0,0,0,0,1
1173,1174,1999,112.2,2.2,19.4,125.0,0.729426,75.10503,13.45536,1.253040,...,0,0,0,0,0,0,0,0,0,0

In [202]:
dataset.dtypes

id                        int64
year                      int64
violent                 float64
murder                  float64
robbery                 float64
                         ...
State__virginia           int64
State__washington         int64
State__west virginia      int64
State__wisconsin          int64
State__wyoming            int64
Length: 64, dtype: object

In [203]:
prediction_dataset = pd.DataFrame(dataset.iloc[-1:,:].values)
print(prediction_dataset)

       0       1      2    3     4      5         6         7         8   \
0  1174.0  1999.0  112.2  2.2  19.4  125.0  0.729426  75.10503  13.45536

        9   ...   54   55   56   57   58   59   60   61   62   63
0  1.25304  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1 rows x 64 columns]

In [102]:
# prediction_dataset = StandardScaler().fit_transform(prediction_dataset)
 # prediction_dataset.drop(['law'], axis = 1)

# np.delete(prediction_dataset,[12],1)

array([[1.174000e+03, 1.992000e+03, 7.332000e+02, 1.100000e+01,
        2.498000e+02, 3.420000e+02, 1.013363e+01, 5.466885e+01,
        1.564598e+01, 6.759474e+00, 1.372643e+04, 1.167056e-01,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00]])

In [204]:
varForModelTest = np.delete(prediction_dataset.values,12,axis=1)
prediction_dataset = varForModelTest
print(prediction_dataset)

[[1.174000e+03 1.999000e+03 1.122000e+02 2.200000e+00 1.940000e+01
  1.250000e+02 7.294260e-01 7.510503e+01 1.345536e+01 1.253040e+00
  1.470004e+04 4.059740e-02 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 1.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00
  0.000000e+00 0.000000e+00 0.000000e+00]]

In [205]:
dataset=dataset[:-1]
 
 
 # This is the splitting our data set 
from sklearn.model_selection import train_test_split

x = dataset.values
y = dataset['law'].values

x = np.delete(x,12,axis=1)

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [206]:
dataset

,id,year,violent,murder,robbery,prisoners,afam,cauc,male,population,...,State__south dakota,State__tennessee,State__texas,State__utah,State__vermont,State__virginia,State__washington,State__west virginia,State__wisconsin,State__wyoming
0,1,1977,414.4,14.2,96.8,83.0,8.384873,55.12291,18.17441,3.780403,...,0,0,0,0,0,0,0,0,0,0
1,2,1978,419.1,13.3,99.1,94.0,8.352101,55.14367,17.99408,3.831838,...,0,0,0,0,0,0,0,0,0,0
2,3,1979,413.3,13.2,109.5,144.0,8.329575,55.13586,17.83934,3.866248,...,0,0,0,0,0,0,0,0,0,0
3,4,1980,448.5,13.2,132.1,141.0,8.408386,54.91259,17.73420,3.900368,...,0,0,0,0,0,0,0,0,0,0
4,5,1981,470.5,11.9,126.5,149.0,8.483435,54.92513,17.67372,3.918531,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,1169,1995,254.2,2.1,17.9,254.0,1.485849,73.71621,15.37098,0.478447,...,0,0,0,0,0,0,0,0,0,1
1169,1170,1996,249.7,3.3,20.4,289.0,1.521814,73.85796,15.44601,0.480085,...,0,0,0,0,0,0,0,0,0,1
1170,1171,1997,255.2,3.5,17.7,310.0,1.527818,73.92731,15.49400,0.480031,...,0,0,0,0,0,0,0,0,0,1
1171,1172,1998,247.6,4.8,16.2,326.0,1.558396,73.98515,15.51021,0.480045,...,0,0,0,0,0,0,0,0,0,1
1172,1173,1999,232.3,2.3,15.4,327.0,1.613004,74.04952,15.48013,0.479602,...,0,0,0,0,0,0,0,0,0,1

In [207]:
# Decision Tree Classifier
from sklearn import tree 
decisionTree = tree.DecisionTreeClassifier(max_depth=5)
decisionTree.fit(x_train,y_train)   # This is for training the model 
decisionTree.score(x_test,y_test)   # Predict the testing data

#y_prediction = decisionTree.predict(prediction_dataset)
dT_accuracy = decisionTree.score(x_test,y_test)

In [208]:
prediction_dataset

array([[1.174000e+03, 1.999000e+03, 1.122000e+02, 2.200000e+00,
        1.940000e+01, 1.250000e+02, 7.294260e-01, 7.510503e+01,
        1.345536e+01, 1.253040e+00, 1.470004e+04, 4.059740e-02,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 1.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00, 0.000000e+00,
        0.000000e+00, 0.000000e+00, 0.000000e+00]])

In [173]:
#print(y_prediction)

[1]

In [209]:
# This is random forest classifier 

from sklearn import ensemble

randomForestClassifier = ensemble.RandomForestClassifier(n_estimators=100)
randomForestClassifier.fit(x_train,y_train)
rForest_accuracy = randomForestClassifier.score(x_test,y_test)

In [210]:
# Naive Bayes Classifier 
from sklearn.naive_bayes import GaussianNB
NB_Classifier = GaussianNB()
NB_Classifier.fit(x_train,y_train)
nb_accuracy = NB_Classifier.score(x_test,y_test)

In [211]:
# K-Nearest Neighbors Classification
from sklearn.neighbors import KNeighborsClassifier
KNN_Classifier = KNeighborsClassifier(n_neighbors=3)
KNN_Classifier.fit(x_train,y_train)
knn_accuracy = KNN_Classifier.score(x_test,y_test)

In [214]:
dT_accuracy
rForest_accuracy
nb_accuracy
knn_accuracy

if dT_accuracy > rForest_accuracy and nb_accuracy and knn_accuracy:
    y_prediction = decisionTree.predict(prediction_dataset)

elif rForest_accuracy >  dT_accuracy and nb_accuracy and knn_accuracy:
    y_prediction = randomForestClassifier.predict(prediction_dataset)

elif nb_accuracy >  dT_accuracy and rForest_accuracy and knn_accuracy:
    y_prediction = NB_Classifier.predict(prediction_dataset)

else:
    y_prediction = KNN_Classifier.predict(prediction_dataset)


if y_prediction == [0]:
    print('Gun Law is NO')

else:
    print('Gun Law is YES')

Gun Law is YES